{% extends "bd_peliss/index.html" %}
{% load static %}
{% block contenidoQueCambia %}
<h5>Buscar película de acción</h5>
<form action="/bd-peliss/search" method="GET">
    <div>
        <input type="text" name="text_search" id="accion_name" placeholder="Búsqueda por Nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="fecha_estreno_search" id="accion_fecha_estreno" placeholder="Búsqueda por Año">
        <input type="submit" value="Buscar por año">
    </div>
    <div>
        <input type="text" name="all_search" id="accion_fecha_estreno" placeholder="Búsqueda general">
        <input type="submit" value="Buscar">
    </div>
    
</form>
<hr></hr>
{% if accions %}
    <ul>
        {% for peli in accions %}
            <li>    
                <strong>
                    <ul>
                        <h5><li>Película: </h5>
                        <br><h2>{{peli.name}}</li></h2></br>
                        <li>Fecha de estreno: {{peli.fecha_estreno}}</li>  
                        <li>Duración: {{peli.duracion}} minutos</li>
                        <li>Sinopsis: {{peli.sinopsis}}</li>
                    </ul>        
                </strong>
            </li>
        {% endfor %}
    </ul>
{% endif %}
<hr></hr>

<h5>Buscar película de terror</h5>
<form action="/bd-peliss/searchTer" method="GET">
    <div>
        <input type="text" name="text_search" id="terror_name" placeholder="Búsqueda por Nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="fecha_estreno_search" id="terror_fecha_estreno" placeholder="Búsqueda por Año">
        <input type="submit" value="Buscar por año">
    </div>
    <div>
        <input type="text" name="all_search" id="terror_fecha_estreno" placeholder="Búsqueda general">
        <input type="submit" value="Buscar">
    </div>
    
</form>
<hr></hr>
{% if terrors %}
    <ul>
        {% for peli in terrors %}
            <li>    
                <strong>
                    <ul>
                        <h5><li>Película: </h5>
                        <br><h2>{{peli.name}}</li></h2></br>
                        <li>Fecha de estreno: {{peli.fecha_estreno}}</li>  
                        <li>Duración: {{peli.duracion}} minutos</li>
                        <li>Sinopsis: {{peli.sinopsis}}</li>
                    </ul>        
                </strong>
        {% endfor %}
    </ul>
{% endif %}
<hr></hr>

<h5>Buscar película de comedia</h5>
<form action="/bd-peliss/searchCom" method="GET">
    <div>
        <input type="text" name="text_search" id="comedia_name" placeholder="Búsqueda por Nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="fecha_estreno_search" id="comedia_fecha_estreno" placeholder="Búsqueda por Año">
        <input type="submit" value="Buscar por año">
    </div>
    <div>
        <input type="text" name="all_search" id="comedia_fecha_estreno" placeholder="Búsqueda general">
        <input type="submit" value="Buscar">
    </div>
    
</form>
<hr></hr>
{% if comedias %}
    <ul>
        {% for peli in comedias %}
            <li>    
                <strong>
                    <ul>
                        <h5><li>Película: </h5>
                        <br><h2>{{peli.name}}</li></h2></br>
                        <li>Fecha de estreno: {{peli.fecha_estreno}}</li>  
                        <li>Duración: {{peli.duracion}} minutos</li>
                        <li>Sinopsis: {{peli.sinopsis}}</li>
                    </ul>        
                </strong>
        {% endfor %}
    </ul>
{% endif %}
<hr></hr>

<h5>Buscar película de ciencia ficción</h5>
<form action="/bd-peliss/searchSci" method="GET">
    <div>
        <input type="text" name="text_search" id="cienciaFiccion_name" placeholder="Búsqueda por Nombre">
        <input type="submit" value="Buscar por Nombre">
    </div>
    <div>
        <input type="number" name="fecha_estreno_search" id="cienciaFiccion_fecha_estreno" placeholder="Búsqueda por Año">
        <input type="submit" value="Buscar por año">
    </div>
    <div>
        <input type="text" name="all_search" id="cienciaFiccion_fecha_estreno" placeholder="Búsqueda general">
        <input type="submit" value="Buscar">
    </div>
    
</form>
<hr></hr>
{% if cienciaFiccions %}
    <ul>
        {% for peli in cienciaFiccions %}
            <li>    
                <strong>
                    <ul>
                        <h5><li>Película: </h5>
                        <br><h2>{{peli.name}}</li></h2></br>
                        <li>Fecha de estreno: {{peli.fecha_estreno}}</li>  
                        <li>Duración: {{peli.duracion}} minutos</li>
                        <li>Sinopsis: {{peli.sinopsis}}</li>
                    </ul>        
                </strong>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}
